:root {
  --html-delay: 0s;
  --body-delay: 0.2s;
  --h1-delay: 0.4s;
  --p-delay: 0.6s;
  --picture-delay: 5s;
  --contactMe-delay: 6s;
  --me-delay: 10s;
}
.char-animation {
}

.fourth {
  color: #08fdd8;
  background-image: -webkit-linear-gradient(100deg, #08fdd8 50%, transparent 50%);
  background-image: linear-gradient(100deg, #08fdd8 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms linear;
  transition: background 300ms linear;
}
.fourth:hover {
  background-position: 0;
}
.typed-out {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  animation: typing 1.5s steps(30, end), blink-caret 0.75s step-end infinite;
  animation-delay: var(--react-delay);
  animation-fill-mode: both;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.scroll-down span {
  writing-mode: vertical-rl;
}

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-in-top-html {
  animation-delay: var(--html-delay);
}
.slide-in-top-body {
  animation-delay: var(--body-delay);
}
.slide-in-top-h1 {
  animation-delay: var(--h1-delay);
}
.slide-in-top-p {
  animation-delay: var(--p-delay);
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in-bottom {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
